UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
Other Resources
.idea
resources
teamcity
platforms/ios/TDA-Planner.xcodeproj/project.xcworkspace/xcshareddata