<?xml version='1.0' encoding='utf-8'?>
<widget id="com.georgegarside.tdaplanner" version="2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TDA-Planner</name>
    <description>
        Thomas Deacon Academy Planner App
    </description>
    <author email="grg.garside@gmail.com" href="http://georgegarside.com">
		George Garside
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#f7f7f8" />
    <preference name="StatusBarStyle" value="default" />
    <content src="index.html" />
</widget>
